<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="/styles/menu.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script defer src="/scripts/menu.js"></script>
  </head>
  <body>
    <main class="container">
      <!-- LEFT SIDE - CONTAINS MENU-->
      <div class="left-side-screen">
        <div class="above-menu-descriptions">
          <!-- LOGO  -->
          <div class="logo items" id="logo">
            <a href="#"
              ><img
                src="/images/cup.png"
                alt="logo"
                style="width: 70px; height: 40px"
            /></a>
          </div>

          <p class="items">Coffee • Baked Goods</p>

          <p class="items">Open 10:00 AM - 5:00PM <a href="#">More Info</a></p>

          <div class="pickup-delivery-options items">
            <img
              src="/images/tag.png"
              alt="pickup or delivery"
              style="width: 250px; height: 60px"
            />
            <img
              src="/images/now.png"
              alt="now"
              style="width: 120px; height: 60px"
            />
          </div>
        </div>

        <!-- MENU - OPTIONS - CATEGORIES -->

        <nav class="slidemenu">
          <!-- Item 1 -->
          <input
            type="radio"
            name="slideItem"
            id="slide-item-1"
            class="slide-toggle"
            checked
          />
          <label for="slide-item-1"
            ><span id="mostpopular-span">Most Popular</span></label
          >

          <!-- Item 2 -->
          <input
            type="radio"
            name="slideItem"
            id="slide-item-2"
            class="slide-toggle"
            checked
          />
          <label for="slide-item-2"><span id="coffee-span">Coffee</span></label>

          <!-- Item 3 -->
          <input
            type="radio"
            name="slideItem"
            id="slide-item-3"
            class="slide-toggle"
            checked
          />
          <label for="slide-item-3"><span id="bakery-span">Bakery</span></label>

          <!-- Item 4 -->
          <input
            type="radio"
            name="slideItem"
            id="slide-item-4"
            class="slide-toggle"
            checked
          />
          <label for="slide-item-4"
            ><span id="miscellaneous-span">Miscellaneous</span></label
          >

          <div class="clear"></div>

          <!-- BAR -->
          <div class="slider">
            <div class="bar"></div>
          </div>
        </nav>

        <!-- MENU -->
        <div class="menu-options-items">
          <!-- MOST POPULAR -->
          <div class="menu-items" id="most-popular">
            <h2>Most Popular</h2>
            <div class="description-picture">
              <div class="item-name-and-description">
                <h4 id="item-name">Latte</h4>
                <br />
                <p id="item-description">
                  Silky smooth steamed milk poured over shots of espresso.
                </p>
                <br />
                <h4 id="item-price">$4.50</h4>
              </div>
              <img
                src="https://images.unsplash.com/photo-1568046562322-0bbc869368ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80"
                alt="hot latte"
                style="width: 250px; height: 90px; border-radius: 20px"
              />
            </div>
          </div>

          <!-- COFFEE - ITEMS-->
          <h2>Coffee</h2>
          <div class="coffee menu-items" id="coffee">
            <div class="description-picture">
              <div class="item-name-and-description">
                <h4 id="item-name">Latte</h4>
                <br />
                <p id="item-description">
                  Silky smooth steamed milk poured over shots of espresso.
                </p>
                <br />
                <h4 id="item-price">$4.50</h4>
              </div>
              <img
                src="https://images.unsplash.com/photo-1568046562322-0bbc869368ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80"
                alt="hot latte"
                style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>

            <div class="description-picture">
              <div class="item-name-and-description">
                <h4 id="item-name">Latte</h4>
                <br />
                <p id="item-description">
                  Silky smooth steamed milk poured over shots of espresso.
                </p>
                <br />
                <h4 id="item-price">$4.50</h4>
              </div>
              <img
                src="https://images.unsplash.com/photo-1568046562322-0bbc869368ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80"
                alt="hot latte"
                style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
          </div>

          <!-- BAKERY -->
          <div class="bakery menu-items" id="bakery">
            <h2>Bakery</h2>
            <div class="description-picture">
              <div class="item-name-and-description">
                <h4 id="item-name">Latte</h4>
                <br />
                <p id="item-description">
                  Silky smooth steamed milk poured over shots of espresso.
                </p>
                <br />
                <h4 id="item-price">$4.50</h4>
              </div>
              <img
                src="https://images.unsplash.com/photo-1568046562322-0bbc869368ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80"
                alt="hot latte"
                style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
          </div>

          <!-- Miscellaneous -->
          <div class="miscellaneous menu-items" id="miscellaneous">
            <h2>Miscellaneous</h2>
            <div class="description-picture">
              <div class="item-name-and-description">
                <h4 id="item-name">Latte</h4>
                <br />
                <p id="item-description">
                  Silky smooth steamed milk poured over shots of espresso.
                </p>
                <br />
                <h4 id="item-price">$4.50</h4>
              </div>
              <img
                src="https://images.unsplash.com/photo-1568046562322-0bbc869368ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80"
                alt="hot latte"
                style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT SIDE - CONTAINS CART/CHECKOUT -->
      <div class="right-side-screen">
        <div class="cart-info">
          <div class="cart-header">
            <h2>Your Cart (1)</h2>
            <p>Pick up at</p>
            <p>Ready in</p>
          </div>
          <div class="cart-order-items">
            <p>Items will be added in here</p>
            <p>Items will be added in here</p>
            <p>Items will be added in here</p>
            <p>Items will be added in here</p>
          </div>
          <button class="checkout">Checkout <span>Subtotal:</span></button>
        </div>
      </div>
      <div class="arrow-up">
        <a href="#logo"
          ><img src="/images/arrow-up.png" alt="arrow-up" class="arrow-up" />
        </a>
      </div>
    </main>

    <!-- POP UP -->

    <div class="popup">
      <div id="close">
        <button id="close_button" c>&times;</button>
      </div>
      <div class="description">
        <img alt="Latte"
          src="https://lh3.googleusercontent.com/2Uk92AII_rYGIioGlaIn7K9YQ-S01nVs05gbHZRwTapw11OUJfe14_0c8od9REiy4pJ0TAq-2Nf4zKZwED8WgzQXBOl5=c-w256">
        <h2>Latte</h2>
        <p>Silky Smooth streamed milk poured over shots of espresso.</p>
      </div>
      <form>
        <div class="size">
          <div class="option_titles">
            <h3>Size</h3>
          </div>
          <div class="option_boxes">
            <input type="radio" id="size_s" name="size" value="s">
            <div class="option_names">
              <div>
                <label for="size_s">Small (8oz)</label>
              </div>
              <div class="price">$3.25</div>
            </div>
          </div>
          <div class="option_boxes">
            <input type="radio" id="size_m" name="size" value="m">
            <div class="option_names">
              <div>
                <label for="size_m">Medium (12oz)</label>
              </div>
              <div class="price">$4.25</div>
            </div>
          </div>
          <div class="option_boxes">
            <input type="radio" id="size_l" name="size" value="l">
            <div class="option_names">
              <div>
                <label for="size_l">Large (16oz)</label>
              </div>
              <div class="price">$5.25</div>
            </div>
          </div>
        </div>

        <div class="espresso_option">
          <div class="option_titles">
            <h3>Espresso Option</h3>
          </div>
          <div class="option_boxes">
            <input type="checkbox" id="decaf" name="espresso_option" value="decaf">
            <div class="option_names">
              <div>
                <label for="decaf">Make it Decaf</label>
              </div>
            </div>
          </div>
          <div class="option_boxes">
            <input type="checkbox" id="extra_shot" name="espresso_option" value="extra_shot">
            <div class="option_names">
              <div>
                <label for="extra_shot">Extra Espresso Shot</label>
              </div>
              <div class="price">$1</div>
            </div>
          </div>
        </div>

        <div class="milk">
          <div class="option_titles">
            <h3>Milk</h3>
          </div>
          <div class="option_boxes">
            <input type="radio" id="whole_milk" name="milk" value="whole_milk">
            <div class="option_names">
              <div>
                <label for="whole_milk">Whole Milk</label>
              </div>
            </div>
          </div>
          <div class="option_boxes">
            <input type="radio" id="skim_milk" name="milk" value="skim_milk">
            <div class="option_names">
              <div>
                <label for="skim_milk">Skim Milk</label>
              </div>
            </div>
          </div>
          <div class="option_boxes">
            <input type="radio" id="almond_milk" name="milk" value="almond_milk">
            <div class="option_names">
              <div>
                <label for="almond_milk">Almond Milk</label>
              </div>
              <div class="price">$1</div>
            </div>
          </div>
          <div class="option_boxes">
            <input type="radio" id="soy_milk" name="milk" value="soy_milk">
            <div class="option_names">
              <div>
                <label for="soy_milk">Soy Milk</label>
              </div>
              <div class="price">$1</div>
            </div>
          </div>
          <div class="option_boxes">
            <input type="radio" id="oat_milk" name="milk" value="oat_milk">
            <div class="option_names">
              <div>
                <label for="oat_milk">Oat Milk</label>
              </div>
              <div class="price">$1</div>
            </div>
          </div>
        </div>
        <div>
          <div class="option_titles">
            <h3>Sepcial Request</h3>
          </div>
          <textarea id="special_request"></textarea>
        </div>
        <div class="bottom_panel">
          <div class="quantity_selector">
            <button type="button" class="quantity_button">-</button>
            <div id="quantity">1</div>
            <button type="button" class="quantity_button">+</button>
          </div>
          <button type="submit" id="add_cart">Add To Cart</button>
        </div>
      </form>
    </div>
  </body>
</html>
