<!DOCTYPE html>
<html lang="en">

<head>
  <title>Popup</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/popup.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/quantity_selector.js"></script>
  <script defer src="/scripts/add_to_cart.js"></script>
  <script defer src="/scripts/limit_checkbox.js"></script>
</head>

<body>
  <div class="popup">
    <div id="close">
      <button id="close_button" c>&times;</button>
    </div>
    <div class="description">
      <img alt="Latte"
        src="https://lh3.googleusercontent.com/2Uk92AII_rYGIioGlaIn7K9YQ-S01nVs05gbHZRwTapw11OUJfe14_0c8od9REiy4pJ0TAq-2Nf4zKZwED8WgzQXBOl5=c-w256">
      <h2>Latte</h2>
      <p>Silky Smooth streamed milk poured over shots of espresso.</p>
    </div>
    <form>
      <div class="size">
        <div class="option_titles">
          <h3>Size</h3>
        </div>
        <div class="option_boxes">
          <input type="radio" id="size_s" name="size" value="s">
          <div class="option_names">
            <div>
              <label for="size_s">Small (8oz)</label>
            </div>
            <div class="price">$3.25</div>
          </div>
        </div>
        <div class="option_boxes">
          <input type="radio" id="size_m" name="size" value="m">
          <div class="option_names">
            <div>
              <label for="size_m">Medium (12oz)</label>
            </div>
            <div class="price">$4.25</div>
          </div>
        </div>
        <div class="option_boxes">
          <input type="radio" id="size_l" name="size" value="l">
          <div class="option_names">
            <div>
              <label for="size_l">Large (16oz)</label>
            </div>
            <div class="price">$5.25</div>
          </div>
        </div>
      </div>

      <div class="espresso_option">
        <div class="option_titles">
          <h3>Espresso Option</h3>
        </div>
        <div class="option_boxes">
          <input type="checkbox" id="decaf" name="espresso_option" value="decaf">
          <div class="option_names">
            <div>
              <label for="decaf">Make it Decaf</label>
            </div>
          </div>
        </div>
        <div class="option_boxes">
          <input type="checkbox" id="extra_shot" name="espresso_option" value="extra_shot">
          <div class="option_names">
            <div>
              <label for="extra_shot">Extra Espresso Shot</label>
            </div>
            <div class="price">$1</div>
          </div>
        </div>
      </div>

      <div class="milk">
        <div class="option_titles">
          <h3>Milk</h3>
        </div>
        <div class="option_boxes">
          <input type="radio" id="whole_milk" name="milk" value="whole_milk">
          <div class="option_names">
            <div>
              <label for="whole_milk">Whole Milk</label>
            </div>
          </div>
        </div>
        <div class="option_boxes">
          <input type="radio" id="skim_milk" name="milk" value="skim_milk">
          <div class="option_names">
            <div>
              <label for="skim_milk">Skim Milk</label>
            </div>
          </div>
        </div>
        <div class="option_boxes">
          <input type="radio" id="almond_milk" name="milk" value="almond_milk">
          <div class="option_names">
            <div>
              <label for="almond_milk">Almond Milk</label>
            </div>
            <div class="price">$1</div>
          </div>
        </div>
        <div class="option_boxes">
          <input type="radio" id="soy_milk" name="milk" value="soy_milk">
          <div class="option_names">
            <div>
              <label for="soy_milk">Soy Milk</label>
            </div>
            <div class="price">$1</div>
          </div>
        </div>
        <div class="option_boxes">
          <input type="radio" id="oat_milk" name="milk" value="oat_milk">
          <div class="option_names">
            <div>
              <label for="oat_milk">Oat Milk</label>
            </div>
            <div class="price">$1</div>
          </div>
        </div>
      </div>
      <div>
        <div class="option_titles">
          <h3>Sepcial Request</h3>
        </div>
        <textarea id="special_request"></textarea>
      </div>
      <div class="bottom_panel">
        <div class="quantity_selector">
          <button type="button" class="quantity_button">-</button>
          <div id="quantity">1</div>
          <button type="button" class="quantity_button">+</button>
        </div>
        <button type="submit" id="add_cart">Add To Cart</button>
      </div>
    </form>
  </div>



</body>

</html>
