<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/restaurant_orders.css" />

  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/new-orders">New Orders</a>
          <a class="nav-item nav-link" href="/completed-orders">Completed orders</a>
        </div>
    </nav>
  </header>

  <div class="orders">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Items</th>
          <th scope="col">Completed At</th>
        </tr>
      </thead>
      <tbody>


      </tbody>
    </table>
  </div>
</body>

</html>
